.cstNav {
    background-color: #2C3E50 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}

.cstNav a {
    color: #fff;
}

.cstNav ul li {
    padding: 0 20px;
}

.cstNav ul li a {
    color: #fff;

    font-size: 20px;
}


.cstNav ul li a:hover {
    color: #fff;
}

.active {
    background-color: #1ABC9C !important;
    color: #fff !important;
}

/* 
.cstActive {
    color: #fff;
    background-color: red;
} */